<div class="d-flex justify-content-center">
  <!-- <mat-card class="mt-4"> -->
   
    <form [formGroup]="detailFormGrp" (ngSubmit)="createNewPerson(detailFormGrp.value)">
      <br><br>
      <div class="header">
        Add New Person
      </div>
      <br>
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your first name" formControlName="firstName" autocomplete="firstName">
          <mat-error *ngIf=" !detailFormGrp.controls.firstName.valid && detailFormGrp.controls.firstName.touched">First Name is required</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your last name" formControlName="last_name" autocomplete="last_name">
          <mat-error *ngIf="!detailFormGrp.controls.last_name.valid && detailFormGrp.controls.last_name.touched">Last Name is required</mat-error>
        </mat-form-field>
      </div>

      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Enter your email" formControlName="emailAddress" autocomplete="emailAddress">
          <mat-error *ngIf="!detailFormGrp.controls.emailAddress.valid && detailFormGrp.controls.emailAddress.touched">Valid Email is required</mat-error>
        </mat-form-field>
      </div>

      <section class="example-section">
        <mat-checkbox class="example-margin" formControlName="subscribed">Subscribe</mat-checkbox>
      </section>
      <br>

      <div>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="dob" autocomplete="dob">
          <mat-error *ngIf="!detailFormGrp.controls.dob.valid && detailFormGrp.controls.dob.touched">Date of birth is required</mat-error>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <button mat-raised-button type="submit" [disabled]="!detailFormGrp.valid" class="float-right">
        Submit
      </button>
    </form>
  <!-- </mat-card> -->
</div>